.page-restaurant {
  width: auto;
  padding-bottom: 30px;
  @include main-flex(column, center, stretch);
  img {
    object-fit: cover;
    width: 100%;
    height: 270px;
  }
  .menu {
    background-color: $bg-lightGrey;
    margin-top: -45px;
    border-radius: 40px 40px 0 0;
    @include medium-screen {
      padding: 0 25% 0 25%;
    }
    @include large-screen {
      padding: 0;
    }
    &__title {
      @include main-flex(row, space-between, center);
      padding: 30px 10px 20px 20px;
      @include large-screen {
        justify-content: center;
      }
      h2 {
        font-family: $logo-font;
        font-size: $h2-size;
        @include large-screen {
          margin-right: 40px;
        }
      }
    }
    &__dishes {
      @include large-screen {
        @include main-flex(row, space-between, center);
        padding: 0 20px;
      }
    }
    &__description {
      padding: 15px;
      h3 {
        font-weight: 300;
        font-size: $normal-size;
        margin: 5px 0 15px;
        padding-left: 5px;
        &::after {
          content: "";
          width: 40px;
          height: 3px;
          display: block;
          background-color: $color-tertiary;
          margin-top: 5px;
        }
      }
    }
    &__order {
      text-align: center;
      padding: 0;
    }
  }
}
