.operation {
  margin-bottom: 50px;
  h2 {
    padding: 20px;
  }
  &__steps {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    li {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 25px;
      margin: 15px 20px 15px 30px;
      border-radius: 20px;
      box-shadow: 1px 2px 8px 2px $shadow;
      background-color: $bg-lightGrey;
      p {
        font-weight: 500;
        margin-left: 20px;
      }
      &:hover {
        background: lighten($color-primary, 35%);
        .fas {
          color: $color-primary;
        }
      }
    }
    &--number {
      background-color: $color-primary;
      color: white;
      border-radius: 50%;
      padding: 5px 9px;
      margin-left: -40px;
    }
    &--icon {
      color: grey;
      font-size: 1.3rem;
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .operation {
    &__steps {
      flex-flow: row wrap;
    }
  }
}
