.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  &__localisation {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: $bg-grey;
    box-shadow: inset 0px 2px 5px $shadow;
    color: #3a3a3a;
    i {
      margin-right: 15px;
    }
    p {
      font-weight: 400;
    }
  }
  &__selection {
    background-color: $bg-lightGrey;
    padding: 20px 0 30px 0;
    h2 {
      margin: 20px 0 20px 0;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
