/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", "sans-serif";
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

p {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.main__btn {
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-style: none;
  font-size: 1rem;
  box-shadow: 0 2px 8px 2px #c4c4c4;
  cursor: pointer;
}
.main__btn:hover {
  box-shadow: 0 2px 8px 2px #959595;
  opacity: 85%;
}

.fa-heart {
  font-size: 22px;
  padding-right: 20px;
}

.menu__btn--check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #99e2d0;
}
.menu__btn--check .fa-check-circle {
  color: white;
}

header {
  text-align: center;
  padding: 20px 20px 15px;
}
header a {
  float: left;
  margin-top: 6px;
  color: #3a3a3a;
  font-size: 20px;
}

.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
.presentation__localisation {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #e5e5e5;
  box-shadow: inset 0px 2px 5px #c4c4c4;
  color: #3a3a3a;
}
.presentation__localisation i {
  margin-right: 15px;
}
.presentation__localisation p {
  font-weight: 400;
}
.presentation__selection {
  background-color: #f5f5f5;
  padding: 20px 0 30px 0;
}
.presentation__selection h2 {
  margin: 20px 0 20px 0;
}
.presentation__selection p {
  font-size: 1.1rem;
}

.operation {
  margin-bottom: 50px;
}
.operation h2 {
  padding: 20px;
}
.operation__steps {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.operation__steps li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 30px;
  margin: 15px 20px 15px 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
  align-items: center;
}
.operation__steps li p {
  font-weight: 500;
  margin-left: 20px;
}
.operation__steps li:hover {
  background: #f2eafb;
}
.operation__steps li:hover .fas {
  color: #9356dc;
}
.operation__steps--number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -45px;
}
.operation__steps--icon {
  color: grey;
  font-size: 1.3rem;
  margin-left: 20px;
}

.restaurants {
  background-color: #f5f5f5;
  padding: 20px 20px 40px 20px;
}
.restaurants h2 {
  margin: 30px 0 30px 0;
}
.restaurants__cards {
  margin-bottom: 20px;
}
.restaurants__figure {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 8px 2px #d9d9d9;
  border-radius: 15px;
}
.restaurants__figure .new {
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 2px;
  color: #1c7660;
  background-color: #99e2d0;
  padding: 7px 10px 5px;
  margin-top: 15px;
  position: absolute;
  right: 35px;
}
.restaurants__figure img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.restaurants__figure figcaption {
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 20px 0 15px 15px;
}
.restaurants__figure figcaption h3 {
  margin-bottom: 10px;
}
.restaurants__figure figcaption div {
  display: flex;
  justify-content: space-between;
}

.menu {
  background-color: #f5f5f5;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.menu img {
  object-fit: cover;
  width: 100%;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-radius: 30px 30px 0 0;
}
.menu__title h2 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.7rem;
  padding-bottom: 20px;
}
.menu__description {
  padding-bottom: 10px;
}
.menu__description h3 {
  font-weight: 300;
  font-size: 1rem;
  padding: 20px 0;
}
.menu__description .menu__btn {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  cursor: pointer;
}
.menu__description .menu__btn h4 {
  margin-bottom: 7px;
}
.menu__description .menu__btn--price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu__description .menu__btn--price p {
  font-weight: 400;
}

footer {
  padding: 25px;
  color: white;
  background-color: #303030;
}
footer h3 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 20px 0;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding: 5px 0 5px 0;
}
footer ul .fa-utensils {
  margin-right: 12px;
}
footer ul .fa-hands-helping {
  margin-right: 6px;
}
footer ul .fas {
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
