// Bouton principal
.main__btn {
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background: linear-gradient($color-secondary, $color-primary);
  color: white;
  border-style: none;
  font-size: 1rem;
  box-shadow: 0 2px 8px 2px $shadow;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 8px 2px $shadow-hover;
    opacity: 85%;
  }
}

// Bouton Like
.fa-heart {
  font-size: 22px;
  padding-right: 20px;
}

// Bouton Valider
.menu__btn--check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-tertiary;
  .fa-check-circle {
    color: white;
  }
}
