.btn-main {
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background: linear-gradient($color-secondary, $color-primary);
  color: white;
  border-style: none;
  font-size: 1rem;
  box-shadow: 0 2px 8px 2px #c4c4c4;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px 2px #959595;
    opacity: 90%;
  }
}
